.content-img {
    display:flex;
    justify-content:center;
    align-items:center;
}
.content-img, img {
    width:50%;
     display:flex;
    justify-content:center;
    transform:translateX(32%);
    shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)

}
body {
    background-color:#61A3BA;
  }
  .form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
  }
  .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }
  .form-label {
    font-weight: bold;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  @media screen and (max-width: 640px) {
    .content-img, img {
      width:70%;
      display:flex;
      justify-content:center;
      transform:translateX(12%);

    }
  }
